.task-item {
  position: relative;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #797979;
  &.edit {
    width: 97%;
  }
}

.controll-block {
  position: absolute;
  top: -2px;
  right: 10px;
  padding: 5px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    color: red;
  }
}
