.input-block {
  display: flex;
  justify-content: center;
  align-items: center;
  & input {
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    margin-right: 10px;
  }
  & .btn {
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid rgb(11, 96, 153);
    border-radius: 4px;
    background: rgb(42, 148, 219);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
}
