.task-list-wrapper {
  padding: 20px 40px;
  border: 1px dashed #000;
}

.task-list-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.no-task-msg {
  text-align: center;
  margin-top: 30px;
}
